.wrapper {
  overflow: overlay;
  .pinContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .panel {
    height: 100vh;
    width: 100vw;
  }

  .panel.first {
    overflow: hidden;
    position: relative;
    background-color: #000000;
    .background {
      background: url(../public/texture/universe.jpg) center;
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    h1 {
      position: absolute;
      z-index: 20;
      top: 40%;
      left: 50%;
      font-size: 120px;
      font-weight: bold;
      color: #fff;
      transform: translateX(-50%);
      letter-spacing: 8px;
    }

    .title {
      position: absolute;
      z-index: 20;
      top: 40%;
      left: 50%;
      font-size: 80px;
      font-weight: bold;
      color: #fff;
      transform: translateX(-50%);
      letter-spacing: 8px;
      opacity: 0;
    }
  }

  .panel.second {
    background-color: #38ced7;
  }

  .panel.green {
    background-color: #22d659;
  }

  .panel.bordeaux {
    background-color: #953543;
  }
}
