.settings {
  position: absolute;
  right: 40px;
  top: 20px;
  .wallet {
    margin-left: 10px;
    border: none;
    .wallet_inner {
      position: relative;
      &:hover {
        ul {
          display: block;
        }
      }
      ul {
        display: none;
        position: absolute;
        padding: 10px 0;
        margin-top: -10px;
        z-index: 999;
        li {
          margin: 5px 0;
          border-radius: 20px;
          &:hover {
            button {
              background: #ff9500;
              font-size: 14px;
            }
          }
        }
      }
    }
    button {
      border: none;
      background: transparent;
      background: #ffb800;
      color: #fff;
      padding: 10px 15px;
      width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      border-radius: 20px;
    }
  }
}
